.form-contrainer {
    box-sizing: border-box;
    width: 80%;
    max-width: 800px;
    min-width: 350px;
    margin: 50px auto;
    padding: 30px 40px;
    border-radius: 1rem;
    border: 4px solid #0275d8;
}

.jumbotron {
    margin-top: 15px;
}

.card-container {
    display: flex;
}

.camps-index-title {
    color: black;
}

.camps-index-title:hover {
    color: black;
}

.camp-detail-img {
    width: 100%;
}

.camp-detail-card {
    margin-top: 10px;
}

.camp-detail-updateRemove{
    margin-top: 10px;
    color: white;

}